/*POSITION:
STATIC:     no esta posicionado, no adquiere propiedades
RELATIVE:   adquiere propiedades: top, left, botton, right, z index
ABSOLUTE
FIXED
STICK*/
*{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

div { /*EN EL DIV NO COLOCAMOS "POSITION" Y SE ASUME QUE ES STATIC, NO ADQUIERE PROPIEDADES*/
    width: 120px;
    height: 120px;
    display: block;
    background: yellow;
}

.caja1{
    background-color: red;
}
.caja2{
    background-color: green;
}
.caja3{
    background-color: blue;
}
.caja4{
    background-color: yellow;
}