.contact-form{
    font-size: 25px;
}

.contact-form__h2{
    font-size: 2em;
    font-family: 'Roboto Flex', sans-serif;
    color: red;
}

/*Las proiedades de los texos son:
font-size
font-family
line-height
font-weight
font-stretch
font-variant
estas dos ultimas no se usan
*/